.main{
    text-align: center !important;
    padding: 40px !important;
}

.thumbnail {
    padding: 0 !important;
    border: 30px solid #FAFAFA !important;
    margin-bottom: 0px !important;
    
}

#imgBlock{
    background-color: #FAFAFA !important;
}

#imgBlock img{
   display: block !important;
    max-width: 100% !important;
    height: 730px !important;
}

@media only screen and (max-width: 1199px) {
    #imgBlock img{
        height: 592px !important;
    }
}

@media only screen and (max-width: 767px) {
    #imgBlock img{
        height: 400px !important;
    }
}

@media only screen and (max-width: 450px) {
    #imgBlock img{
        height: 300px !important;
    }
}


.thumbnail .caption {
    padding: 28px !important;
    color:#47515b !important;
    font-size: 26px;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .thumbnail .caption {
        font-size: 20px !important;
    }
}

a{
    text-decoration: none !important;
}

.thumbnail .caption:hover {
    color:pink !important;
}
